.coach{
    background-image: url("car.jpeg");
    background-repeat: no-repeat;
    margin: 0%;
    height: 500px;
    background-size: 100%;
    overflow: none;
    background-position: center;
}
.content{
    background-color: rgba(0,0,0,.6);
    height: 500px;
}


.bar{
    background-color: white;
    height: 50 px;
    margin: 0 auto;
    display: flex;
    display: inline
    

}
.dream{
    margin: 0 auto;
    padding-top: 0%;
    text-align: center;
    color:#ffe5dc;
    }
    .explore{
    
            margin: 0 auto;
            text-align: center;
            color: #ffac7d;
    }
    .button{
        background-color: orange;
        
    }
    #coz{
        display: inline-flex;
        font-size: larger;
        color: white;
    }
    #Home{
        color:#ffac7d;
    }
    .bars{
        display: inline-flex;
        list-style: none;
        overflow: auto;
        padding-left: 60%;
        margin-left: 0%;
        padding: 30px 20px 0px 200px;
    }
    .bars a{float: left;
        padding: 12px;
        color: black;
        color: #ffac7d;

    }
    #mod{
        border-radius: 1px;
    }
    #class{
        display: flex;
    }
.kitchen{
    display: flex;

}
.ton{
    background-color: orange;
    padding-bottom: 0px;
    text-align: center;
    display: flex;
    margin:0 auto;
    
    }
    .popular{
        display: flex;
        background-color: #002d3d;
    }
    .all{
        background-color: orange;
        text-align: center;
        color: #002d3d;
        margin:0 auto;
        display: flex;
        text-decoration-color: #002d3d;
    }
    .Insipration{
        background-color: #ffe5dc;
        display: flex;
    }
    .plantpot{
        display: flex;
        width: 200px;
        height: 200px;
        justify-content: end;
        float: right;
    }
    .Gone{
        background-color: orange;
       border-radius: 2%;
    }
    .last{
        background-color: #002d3d;
        
    }
    #finalcozy{
        display: inline-flex;
        font-size: larger;
        color:black;
    }
    .final{
        display: flex;
        display: inline flex;
    }
    .blog a{
        display: block;
        padding: 10px 1px;
    
    /* }
    /* .insideform{
        background-color: #ffac7d;
        border-radius: 10%;
        width: 50%;
        height: 70%;
        text-align: left; */
    } */
    .pop{
color: #ffac7d;
text-align: end;
display: block;
    }
    .image1{
        width: 70%;
        height: 70%
        
    }
    .image2{
        width: 70%;
        height: 70%
        
    }
    .image3{
        width: 70%;
        height: 70%
        
    }
    .ul{
        display: flex;
        list-style-type: none;

    }
    .des{
        text-align: center;
        color: #ffe5dc;
    }
    .Insipration{
        background-color: #ffe5dc;
        width: 20px;

    }
    .our{
        text-align: center;
    }
    li{
        display: flex;
        list-style: none;
        display: inline-block;
        
    }
    .lastpage{
        background-color: #002d3d;
        color: white;
    }
    .ABT ul li {
        content: white;
        display: flex;

    }
    .feed ul li {
        content: white;
        display: flex
        }
        .all{
            background-color: #002d3d;
        }
        .footer{
            color: white;
            background-color: #002d3d;
            display: flex;

        }
        .need{
            display: flex;
            gap: 100px;
            align-items: center;
            background-color: #ffe5dc;
        }
        .email{
            text-align: center;
        }

        .inspire{
            background-color: #ffe5dc;
        }
        .all{
            color: #ffe5dc;
            background-color: orange;
            
        }
        .round{
            /* border: solid; */
            border-radius: 50%;
            width: 300px;
            height: 300px;
            padding: 30px;
            text-align: center;
            background-color: #ffac7d;
            margin-right: 15%;
        }
        .plantpot{
            width: 300px;
            height: 380px;  
            margin-right: 15%;
        }
        .kitchen{
            width: 250px;
            height: 250px;
            margin-left: 10%;
            
            
        }
        .pave{
            width: 250px;
            height: 250px;
            margin-left: 10%;
           
        }
        .stairs{
            width: 250px;
            height: 250px;
            margin-left: 10%;
            
           
        }
        .nav ul li{
            padding: 20px 150px 20px;
            list-style-type: none;
            justify-content: right;
            display: inline-block;

        }
        .Pics{
            padding: 20px 150px 20px;
            list-style-type: none;
            justify-content: right;
            display: inline-block;
            display: flex;
        } 
        .modern{
            background-color:#ffe5dc;
            border-radius: 2px;
        }
        #co{
                display: inline-flex;
                font-size: larger;
                color: white;
        }
        .insta{
            margin-right: 5%;
            width: 10%;
        }
        .pin{
            margin-right: 5%;
            width: 10%;
        }
        .book{
            margin-right: 5%;
            width: 10%;
        }
        .icons{
            color: white;
        }
        .per{
            margin-left: 10%;
            width: 1%; 
        }
        .search{
            width: 800px;
            height: 50px;
            text-align: left;
            color:lightslategray;
            text-decoration-color: black;
            background-color:#ffe5dc;
            margin-left: 50%;

        }
        .bars ul li{
            list-style-type: none;
            justify-content: right;
            display: inline-block;
            display: flex;
            justify-content: space-between;
         

        }
        .bars li{
            display: inline-block;
            justify-content: space-between;
            color: #ffac7d;
            display: flex;
            word-spacing: 2em;
            word-spacing: normal;
            
        }
        
            
        